
nav /* navbar */
{
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-links 
{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li 
{
    margin-right: 20px;
}

.nav-links li a 
{
    color: white;
    text-decoration: none;
}

    /* navbar end*/

.content 
{
    padding: 20px;
}

#indexdiv
{
    text-align: center;
    background-color: gainsboro;
    font-size: x-large;
    
}

body
{
    margin: 0;
    background-color: lightcoral;
    font-family: Arial, sans-serif;
}

.image-container {
    margin: 5px;
}

img
{
    width: auto;
    height: auto;
}

/* upload form */
#submitfile {
    margin: 20px auto;
    padding: 20px;
    background-color: pink;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.custom-file-upload input[type="file"] {
    display: none;
}

.submitbtn {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.upload-button:hover {
    background-color: #218838;
}

.center
{
    text-align: center;
    font-size: large;
    margin-top: 50px;
}

.big-input {
    vertical-align: top;
    margin-top: 10px;
    padding: 10px;
    width: 300px;
    height: 50px;
    font-size: larger;
}

#gender
{
    margin: auto;
}

.gallery 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galleryrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.galleryrow h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.galleryrow p {
    margin: 5px 0;
}

.galleryrow img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.upvotes
{
    text-align: center;
}