{% extends "layout.html" %}

{% block title %}Gallery - Hobby Horse Gallery{% endblock %}

{% block main %}
    <div class="gallery">
        {% for file in files %}
        {% if file.image.endswith('.jpg') or file.image.endswith('.jpeg') or file.image.endswith('.png') %}
            {% if image_exist(file.image) %}
            <div class="galleryrow">
                <h2>{{ file.title }}</h2>
                <p>Description: {{ file.description }}</p>
                <p>Gender: {{ file.gender }}</p>
                <img src="{{ url_for('static', filename=file.image) }}" alt="{{ file.title }}">
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}