{% extends "layout.html" %}

{% block title %}Gallery - Hobby Horse Gallery{% endblock %}

{% block main %}
    <form action="/gallery" method="post" class="center" style="margin-bottom: 30px;">
        <h4>Sort by:</h4>
        <select name="sort">
            <option value="newest">Newest</option>
            <option value="oldest">Oldest</option>
            <option value="upvoted">Most Votes</option>
            <option value="random">Random</option>
        </select>
        <input name="search" autocomplete="off" placeholder="Search by name.">
        <input name="user_search" autocomplete="off" placeholder="Search by username.">
        <button type="submit">Sort/Search</button>
    </form>
    <div class="gallery">
        {% for file in files %}
        {% if file.image.endswith('.jpg') or file.image.endswith('.jpeg') or file.image.endswith('.png') %}
            {% if image_exist(file.image) and file.banned == 0 %}
            <div class="galleryrow">
                <div class="image-info">
                    <h2>{{ file.title }}</h2>
                    <p>Description: {{ file.description }}</p>
                    <p>Gender: {{ file.gender }}</p>
                    <p>Submitted by: {{ file.username }}</p>
                </div>
                <div class="image-container">
                    <img src="{{ url_for('static', filename=file.image) }}" alt="{{ file.title }}">
                </div>
                <div class="upvotes">
                    {% if user_id != 0 %}
                        {% if vote_check(file.image_id) %}
                            <button class="upvote-btn" id="btn-{{file.image_id}}" data-file-id="{{ file.image_id }}">Upvote</button>
                        {% endif %}
                            <form action="/comment" method="post">
                                <input type="hidden" name="comment_id" value="{{ file.image_id }}">
                                <input type="text" placeholder="Comment" name="comment" id="{{ file.image_id }}" autocomplete='off'>
                            </form>
                    {% endif %}
                    <p>Likes: <span class="rating">{{ get_image_rating(file.image_id) }}</span></p>
                    {% if get_comment(file.image_id) %}
                        {% for comments in get_comment(file.image_id) %}
                            <div class="review">
                                <p> {{ comments['username'] }}: {{ comments['comment'] }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if user_id == 1 %}
                        <form action="/delete" method="post">
                            <input hidden value="{{ file.image_id }}" name="delete_id" >
                            <button type="submit">Delete</button>
                        </form>
                        <form action="/ban_user" method="post">
                            <input hidden value="{{ file.username }}" name="ban_username">
                            <button type="submit" onclick="return confirm('Are you sure you want to ban this user?')">Ban user</button>
                        </form>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const upvoteBtns = document.querySelectorAll(".upvote-btn");

            upvoteBtns.forEach(function(btn) {
                btn.addEventListener("click", function() {
                    const fileId = this.dataset.fileId;

                    fetch('/upvote', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            fileId: fileId
                        })
                    })
                    .then(response => {
                        if (response.ok) {
                            btn = document.getElementById('btn-' + fileId).style.display = "none";
                            // Update the UI or display a message indicating successful upvote
                            console.log('Upvoted successfully');
                            // Update the UI with the new rating
                            const ratingSpan = this.parentNode.querySelector(".rating");
                            ratingSpan.textContent = "Refresh the page!";
                        } else {
                            console.error('Failed to upvote');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                });
            });
        });    
    </script>

{% endblock %}