{% extends "layout.html" %}

{% block title %}Home - Hobby Horse Gallery{% endblock %}

{% block main %}
<div id="indexdiv">
    <div>
        <h1>Welcome to the Hobby Horse Gallery!</h1>
    </div>
    <div>
        <p> Hobby horses, historically known as "hobbyhorses," are whimsical and often nostalgic toys resembling small horses or ponies, typically crafted from wood or stuffed fabric mounted on a stick or frame.
            These charming playthings have a rich cultural heritage dating back centuries and have been enjoyed by children and adults alike across various cultures worldwide.
            Hobby horses are more than just toys; they evoke imaginative play and creativity, encouraging children to embark on adventures and explore their surroundings. 
            In many traditions, hobby horses have been integrated into festivals, parades, and rituals, symbolizing vitality and the human-animal connection. 
            Today, hobby horses continue to enchant generations, serving as both cherished keepsakes and tools for imaginative play, reminding us of the simple joys and wonderment of childhood.
        </p>
    </div>
    <div>
        <h1>Please submit only Hobby Horses. Thank You.</h1>
    </div>
</div>
{% endblock %}